#welcome{
    text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  color: orange;
  font-size: 40px;
  padding-top: 20px;
  background: black;
  display: inline-block;
  width: 500px;
  height: 100px;
  position: absolute;
  right: 40%;
  top: 40%;
  vertical-align:bottom ;
}
ul li{
    /* position: absolute; */
    top: 10px;
    margin-left: 50%;


    
}
header{
    /* position: absolute; */
}
#salmonCookie{
    size: 100%;
    text-indent: 10px;
    border: 5px, solid, blue;
}
tr{
    text-align: center;
    text-indent: 3px;
    
}
.home{
    background-image: url("https://codefellows.github.io/code-201-guide/curriculum/class-06/lab/assets/salmon.png");
}
.sale{
    background: rgb(228, 167, 144);
    padding: 60%x;
    block-size: 100%;
}
#table{
    text-align: center;
    /* border: 2px solid black; */
    margin-left: 30%;
}
#table{
    border: 2px  solid black;
    block-size: 100%;
}

td{
    border: 2px solid black;
    background: rgb(249, 255, 199);
}
footer{
    background-image: url("https://codefellows.github.io/code-201-guide/curriculum/class-06/lab/assets/salmon.png");
    height: 250px;
    margin: 30px;
    background-repeat: no-repeat;
    margin-left: 20%;
}
#locations{
    display: inline-block;
    width: 500px;
    height: 200px;
    background: wheat;
    text-align: center;
    position: relative;
    left: 1%;
    background-size: 30%;
}
#locations1{
    margin-top: 50px;
    display: inline-block;
    width: 1200px;
    height: 200px;
    background: rgb(201, 149, 82);
    text-align: center;
    position: relative;
    left: 10%;
}
#H1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-decoration-line: underline;

}
#salmonCookie > fieldset{
    margin-left: 1%;
    margin-top: 5%;
}
#hH1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-decoration-line: underline;
    font-family: 'Modak', cursive;
    font-weight: bolder;
    color: brown;
}